airQuality.xcodeproj/xcuserdata/denizakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
airQuality.xcodeproj/xcuserdata/denizakya.xcuserdatad/xcschemes/xcschememanagement.plist
airQuality.xcodeproj/xcuserdata/denizakya.xcuserdatad/xcschemes/xcschememanagement.plist
